@using GameStore.WebUI.Models
@using GameStore.WebUI.HtmlHelpers
@model GamesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Games)
{
    <!--Частичное представление-->
    @Html.Partial("GameSummary",p)
}

<div class="bth-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new  {page = x }))
</div>